<footer class="footer">
  <div class="footer-container">
    <span class="footer-text">© <%= Date.current.year %>
      <%= link_to "OnLibrary™", books_path, class: "hover:underline" %>. All Rights Reserved.
    </span>
    <ul class="footer-ul">
      <li>
        <%= link_to "Home", books_path, class: "footer-li" %>
      </li>
    </ul>
  </div>
</footer>
